* {
    margin: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

h2 {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

button, input {
    outline: none;
}

#top-container {
    background: rgb(242, 181, 28); 
    padding: 30px;
}

#view-highscores {
    color: black;
    text-decoration: none;
}

#view-highscores:hover {
    color: white;
}

#top-container div {
    display: inline-block;
    font-family: 'JetBrains Mono', monospace;
}

#countdown-div {
    float: right;
}

#questions, #complete, #highscores {
    width: 50%;
    margin: 0 auto;
}

#main-container {
    margin: 100px auto;
}

#start-btn-div {
    text-align: center;
}

#start p {
    padding: 20px 0;
    text-align: center;
}

#start-btn-div button {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    background: transparent;
    border: 3px solid rgb(242, 181, 28);
    height: 40px;
    width: 150px;
}

#start-btn-div button:hover {
    color: white;
    background: rgb(242, 181, 28);
    transition-duration: 0.3s;
}

#questions h4 {
    font-family: 'Nunito Sans', sans-serif;
    padding: 20px 0;
}

#answer-buttons button {
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    background: rgb(254, 224, 149);
    border: none;
    height: 30px;
    width: 90%;
    margin: 5px auto;
}

#answer-buttons button:hover {
    color: white;
    background: rgb(242, 181, 28);
    transition-duration: 0.3s;
}

#next-div {
    text-align: center;
}

#next-question {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    height: 35px;
    width: 90%;
}

#next-question:hover {
    color: white;
    background: rgb(0, 0, 0);
    transition-duration: 0.3s;
}

#complete-msg {
    font-family: 'JetBrains Mono', monospace;
}

#complete-p {
    padding: 20px 0;
}

#complete h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

#highscore-input-div {
    margin-top: 20px;
}

input {
    font-family: 'Nunito Sans', sans-serif;
    background: rgb(255, 245, 211);
    height: 28px;
    border: none;
}

input:focus {
    background: rgb(255, 219, 130);
}

#submit-highscore {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    background: rgb(242, 181, 28);
    border: none;
    height: 30px;
    width: 75px;
}

#submit-highscore:hover {
    color: white;
    background: rgb(0, 0, 0);
    transition-duration: 0.3s;
}

#input-message {
    font-style: italic;
    color: grey;
    margin-bottom: 20px;
}

#retake {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    background: transparent;
    border: 3px solid rgb(242, 181, 28);
    height: 40px;
    width: 220px;
    margin-right: 50px;;
}

#retake:hover {
    color: white;
    background: rgb(242, 181, 28);
    transition-duration: 0.3s;
}

ol {
    padding: 40px 0 20px 0;
}

li {
    font-family: 'JetBrains Mono', monospace;
    background: rgb(255, 245, 211); 
    padding: 5px;
    margin: 5px;
    text-align: center;
    line-height: 2em;
}

#highscore-list-buttons {
    text-align: center;
}

#go-to-start, #clear-highscores {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    background: transparent;
    border: 2px solid rgb(242, 181, 28);
    height: 40px;
    width: 200px;
    margin: 0 20px;
}

#clear-highscores {
    border: 2px solid rgb(181, 52, 52);
}

#go-to-start:hover {
    color: white;
    background: rgb(242, 181, 28);
    transition-duration: 0.3s;
}

#clear-highscores:hover {
    color: white;
    background: rgb(181, 52, 52);
    transition-duration: 0.3s;
}

@media (max-width: 992px) { 
    #go-to-start, #clear-highscores {
        width: 80%;
        margin: 5px auto;
    }
}



